@import "tailwindcss";
/* @import "tailwindcss-animation-delay"; */

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #3490dc;
  --color-info: #569fcc;
  --color-success: #38c172;
  --color-warning: #ffed4a;
  --color-danger: #e3342f;
  --color-background: #dadada; 
  --color-section-base: #e8e8e8;

  --color-background-dark: #191b1c;
  --color-section-dark: #26292b;
  --color-text-dark: #e2e8f0;
}

@utility animation-delay-none {
  animation-delay: 0s;
}
@utility animation-delay-inherit {
  animation-delay: inherit;
}
@utility animation-delay-initial {
  animation-delay: initial;
}
@utility animation-delay-revert {
  animation-delay: revert;
}
@utility animation-delay-revert-layer {
  animation-delay: revert-layer;
}
@utility animation-delay-unset {
  animation-delay: unset;
}
@utility animation-delay-* {
  animation-delay: --value([*]);
  animation-delay: calc(--value(integer) * 1ms);
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.michroma {
  font-family: "Michroma", serif;
  font-weight: 400;
  font-style: normal;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-info);
  border-radius: 5px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}