@import "tailwindcss";

@theme {
  --color-info: #3490dc;
  --color-success: #38c172;
  --color-warning: #ffed4a;
  --color-danger: #e3342f;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-color: #e3e3e3;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.michroma-regular {
  font-family: "Michroma", serif;
  font-weight: 400;
  font-style: normal;
}