@import "tailwindcss";

@theme {
  --color-primary: #3490dc;
  --color-info: #0c4d82;
  --color-success: #38c172;
  --color-warning: #ffed4a;
  --color-danger: #e3342f;
  --color-background: #dadada; 
  --color-section-base: #e8e8e8;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-color: var(--color-background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.michroma {
  font-family: "Michroma", serif;
  font-weight: 400;
  font-style: normal;
}